/* style.css */
.mad-libs-game {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(to bottom, #242F9B, #646FD4, #9BA3EB, #DBDFFD);
  color: white;
}

.word-input {
  margin-bottom: 20px;
}

.word-input h3 {
  margin-bottom: 10px;
}

.word-input form {
  display: flex;
}

.word-input input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  outline: none;
  border: none;

}

.word-input button {
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}

.word-input button:hover {
  background-color: #ddd;
}

.story-template {
  margin-bottom: 20px;
}

.story-template h2 {
  margin-bottom: 10px;
}

.story-template p {
  font-size: 18px;
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
