.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}

form {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  text-align: center;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

input[type="submit"] {
  padding: 5px 10px;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.qr-holder {
  margin-top: 20px;
}

.qr-holder img {
  max-width: 100%;
  height: auto;
}
